.text-white{
    color:#fff!important;
}

.text-black{
    color:#000;
}
.bg-pink {
    background-color: pink;
}

.owl-carousel .item .product a {
    overflow: hidden;
}
#top-sale .owl-carousel .item .product img {
    transition: 0.6s ease;
}
#top-sale .owl-carousel .item .product img:hover{
    transform: scale(0.9);
}

#new .owl-carousel .item .product img {
    transition: 0.6s ease;
}

#new .owl-carousel .item .product img:hover {
    transform: scale(1.1);
}



